*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
span{
    color: rgb(248, 37, 0);
}
.navbar{
    width: 100%;
   margin-bottom: 110px;
}
.navbar-items{
    display: flex;
    background-color: rgb(248, 250, 248);
    color: black;
    padding: 20px;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    box-shadow: rgba(240, 7, 7, 0.507) 1.95px 1.95px 2.6px;
}
.navbar-left{
    font-size: 25px;
}
.navbar-right{
    float: right;
    font-size: 25px;
}
a{
    text-decoration: none;
    margin: 20px;
    padding: 5px;
}
.home{
    background-image: linear-gradient(#dfca0d,rgb(224, 67, 20));
    color: aliceblue;
    padding: 10px 20px;
}


.head-section{
    display: flex;
   
}
.head-food{
    width: 50%;
}
.head-des-left{
    margin-top: 100px;
    margin-left: 50px;
    padding: 10px;
}
#head-food-h1{
    margin-bottom: 45px;
}
#head-food1-h1{
    margin-bottom: 40px;
}
.order-button, .contact-btn{
    background-image: linear-gradient(red,rgb(236, 119, 99));
    color: aliceblue;
    margin-left: 220px;
    width: 170px;
    margin-top: 20px;
    height: 80px;
    font-size: 30px;
    border-radius: 20px;
    border: tomato;
}
.head-image{
    margin-left: 40px;
}

.contact{
    background-color: rgb(255,237,249);
    display: flex;
    padding-top: 100px;
    padding-bottom: 30px;
}
.contact-img, .contact-us{
    width: 50%;
}
#contact-head3{
    font-weight: 170;
}
.contact-us{
    padding: 40px;
    margin-right: 80px;
    text-align: justify;
}
.contact-img{
    margin-left: 100px;
}

.contact-btn1{
    margin-left: -1px;
    margin-top: -10px;
}

.cards-container{
margin-top: 100px;
text-align: center;
}
.cards-head h1{
    margin-bottom: 40px;
}
.cards-head p{
font-size: 30px;
margin: 0 200px;
}
.food-cards{
   
    color: black;
    margin: 100px;
    display: flex;
    
}
.card{
    width: 33%;
    border: 5px solid rgb(247, 243, 243);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.card-image1{
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  
}

.card-hrad3{
    padding: 15px;
    margin-left: 20px;
    
    
}

.card p{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 40px;
}

.footer-area{
    background-color: rgb(37, 37, 37);
    color: rgb(229, 235, 240);
    text-align: center;
    padding: 70px;
}
.footer-area h1{
    padding-bottom: 35px;
}
.footer-area h3{
    padding-bottom: 60px;
    opacity: .9;
}
.footer-area h5{
    opacity: .9;
}